$styles : header;
.#{$styles} {
@include flex (space-between, center, row);
width: 100%;
border-bottom: 1px solid $color_border_nav;
padding-right: 20px;
padding-left: 20px;

&__nav-wrapper {
    @include flex (space-between, space-around, row);
}
&__nav__list {
    @include flex (center, center, row);
}
&__nav__list__item {
    margin-right: 30px;
}
&__nav__list__item:last-child {
    margin-right: 0px;
}
&__nav__list__item__link:hover {
    color: $color_hover_nav;
}
&__nav__list__item__link {
    @include text($H100, 400, $text_color_white);
    transition: all .8s;
}
&__bar{
    @include flex (center, center, row);
    border-left: 1px solid $color_border_nav;
}
&__bar__item{
    padding: 20px 30px 20px 30px;
    border-right: 1px solid $color_border_nav;

}
&__bar__item:last-child{
    padding-right: 0px;
    border-right: 1px solid transparent;
}
&__bar__item:hover{
    cursor: pointer;
}
&__bar__item__icon {
    width: 18px;
    height: 18px;
    margin-right: 11px;
}
&__bar__item__link {
    @include text($H100, 400, $text_color_white);
 transition: all .8s;
}
&__bar__item__link:hover{
    color: $color_hover_nav; 
}
&__logo {
    @include text($H550, 700, $text_color_white);
}
&__input {
    position: absolute;
    top: 70px;
    left: 75%;
    padding: 10px;
    background-color: transparent;
    border-color: $color_border_nav;
    display: none;
}
}


$styles : main-screen;
.#{$styles} {
    background: url('../img/header/bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    padding-bottom: 63px;
    @include flex (flex-start, flex-end, column);
    min-height:100vh;

&__text-wrapper {
    @include flex (center, center, row);
    padding-top: 20%; 
}
&____main-text-wrap {
    @include flex (center, center, column);
}
&__arrow-wrapper{
position: relative;
width: 100%;
display: flex;
justify-content: center;
}
&__vertikal_text{
    @include text($H520, 400, $text_color_white);
    transform: rotate(270deg);
    text-transform: uppercase;
    position: absolute;
    top:-150px;
    left: 0;
}

&__vertikal_text:after, 
.vertical-text:before {
    content: '';
    vertical-align: middle;
    width: 95%;
	height: 2px;
    background: #FFF;
    border:  solid #FFF;
    border-width: 0px 0px;
    display: inline-block;
}

&__vertikal_text:after {
    margin-left: -200%;
}
&__vertikal_text:before {
    margin-left: 100%;
}


&__title{
@include text($H700, 400, $text_color_white);
text-transform: uppercase;
margin-bottom: 39px;
text-align: right;
width: 70% ;
}
&__subtitle{
    @include text($H500, 300, $text_color_white);
    margin-bottom: 83px;
    text-align: right;
    width: 70% ;
}
&__button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include text($H300, 400, $text_color_white);
    margin-bottom: 56px;
    text-align: right;
    width: 70% ;
    transition: all .8s;
}
&__button__img{
    padding-left: 20px;
}
&__link{
    display: block;
    @include text($H200, 300, $text_color_white);
    text-align: right;
    width: 70% ;
    transition: all .8s;

}
&__link:hover, &__button:hover {
transform: scale(1.1);
}
&__arrow {
    transition: all .8s;
}
&__arrow:hover {
    transform: scale(1.2);
    opacity: .3;
}
}