//FONTS
$Proxima_nova: 'Proxima Nova Rg', sans-serif;
$Playfair_display: 'Playfair Display', sans-serif;

//FONTS SIZE
@function calcRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
  }
  $H1000: calcRem(100px);
  $H900: calcRem(80px);
  $H850: calcRem(66px);
  $H800: calcRem(60px);
  $H700: calcRem(44px);
  $H600: calcRem(36px);
  $H550: calcRem(31px);
  $H520: calcRem(26px);
  $H500: calcRem(24px);
  $H400: calcRem(22px);
  $H300: calcRem(20px);
  $H200: calcRem(18px);
  $H100: calcRem(16px);
  $H50: calcRem(14px);
  $H20: calcRem(12px);
  $H10: calcRem(4px);
  
  //COLORS 
$text_color_white: #fff;
$text_color_black: #000000;
$text_color_tab: #6E774A;
$text_color_title_prod:#1C1C1B;
$text_color_title_card:#1C1C1B;
$color_border_nav: #FFF;
$color_border_accord: #6e774a;
$color_hover_nav: #709e25;
$color_border_tab-a:#1c1c1b;
$color_border_tab-d:#ced6af;
$color_bg_button:#6e774a;
$color_bg_price:#B1A5A0;
$color_bg_product:#f7f8f3;
$color_title_accord:#6E774A;
$color_text_accord: #000000;
$color_title_footer:#6E774A;



 